#cart {
    /* border : 1px solid red; */
    border: 1px solid red;
    
}
#quick_nav {
    border: 1px solid black;
}
#empty_cart {
    display: none;
    border : 1px solid blue;
}
#headings {
    display: grid;
    grid-template-columns: 60% 30% 5%; 
    border : 2px dashed black ;
    margin: 10px;
}
#parent > div {
    display: grid;
    grid-template-columns: 60% 30% 10%;
    border : 2px dashed black ;
    margin : 10px;
}
#parent > div > div {
    border : 1px solid green;
    margin-top : 10px;
}
.image {
    width : 30% ;
    border : 1px solid yellow ;
}

#checkout_btns {
    display : flex;
    flex-direction: column;
  
}
button {
    cursor : pointer;
}
#items_details {
    border : 1px solid green;
    width : 60%;
}
#order_summray {
    border : 1px solid red;
    width : 35%;
}
#cart_main {
    border : 1px solid blue;
    display : flex;
    justify-content: space-between;
}
.items_div{
    display : flex;
    /* justify-content: left; */
    /* width : 50%; */
}

