#footer_layout{
    width: 100%;
    background-color: #b1a16e;
}
a {
    text-decoration: none;
    color: white;
}
#footer-grid{
    display: grid;
    grid-template-columns: 30% 30% 40%;
    grid-template-rows: 400px;
    margin-left: 10%;
}
#unordered1{
    list-style-type: none;
    color: white;
}
#unordered1 li:nth-child(1) {
   font-family: "Playfair Display", sans-serif;
   font-size: 18px;
   font-weight:400;
}
#unordered1 li:nth-child(3), #unordered1 li:nth-child(4), #unordered1 li:nth-child(5), #unordered1 li:nth-child(6), #unordered1 li:nth-child(7), #unordered1 li:nth-child(8), #unordered1 li:nth-child(9), #unordered1 li:nth-child(10){
   font-family: 'Raleway', sans-serif;
   font-size: 12px;
   font-weight:600;
   letter-spacing:1.92px;
   line-height: 25px;
}
#unordered2{
    list-style-type: none;
    color: white;
}
#unordered2 li:nth-child(1) {
   font-family: "Playfair Display", sans-serif;
   font-size: 18px;
   font-weight:400;
}
#unordered2 li:nth-child(3), #unordered2 li:nth-child(4), #unordered2 li:nth-child(5){
   font-family: 'Raleway', sans-serif;
   font-size: 12px;
   font-weight:600;
   letter-spacing:1.92px;
   line-height: 35px;
}

#subscribe_input{
    width: 70%;
    height: 42px;
    border: 1px solid white;
}
#subscribe_head {
    font-family: "Playfair Display";
    font-size: 18px;
    color: white;
}
#subscribe_input input{
    width: 70%;
    height: 40px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    background-color: #b1a16e;
    color: white;
}
#subscribe_input input::placeholder{
    color: white;
}
#subscribe_input button{
    width: 28.5%;
    height: 40px;
    border: none;
    background-color: white;
    color: #b1a16e;
}
#social{
    display: flex;
    background-color: #b1a16e;
}
#face, #twit, #insta{
    width: 65px;
    margin-left: 30px;
    margin-top: 10px;
    color: white;
}
#stores{
    display: grid;
    grid-template-columns: 30% 30%;
    grid-template-rows: 40px;
}
#stores img{
    width: 100%;
}
#handles{
    height: 110px;
    border-bottom: 1px solid white;
}
#terms_condi{
    margin-left: 65%;
    width: 30%;
    height: 80px;
    
    /* border: 1px solid green; */
}
#terms_grid{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 13px;
}
#terms_grid a{
    list-style-type: none;
    font-size: 10px;
    color: white;
    font-weight: 500;
    font-family: 'Raleway';
    text-decoration: none;
}
#terms_condi div:nth-child(2){
    font-size: 11px;
    font-weight: 500;
    color: white;
    font-family: 'Raleway';
}


/* find store */
#find_store{
    width: 100%;
    margin: auto;
    height: 250px;
    border-bottom: 1px solid white;
}
#find_store h2{
    text-align: center;
    color: white;
    font-family: "Playfair Display", sans-serif;
    font-size: 28px;
    font-weight: 400;
}
#find_store p{
    color: white;
    text-align: center;
    font-family: "Playfair Display";
    font-size: 18px;
    line-height: 32px;
}
#enquiry{
    display: grid;
    margin-left: 25%;
    grid-template-columns: 25% 20% 55%;
    grid-template-rows: 45px;
    
}
#enquiry p{
    color: white;
    font-size: 18px;
    font-family: "Playfair Display";
    font-weight: 400;
}
#location{
    width: 100%;
    height: 50px;
    background-color: #b1a16e;
    color: white;
    border: none;
    border: 1px solid white;
}
#city_div{
    width: 50%;
    height: 45px;
    border: 1px solid white;
}
#city_div input{
    width: 70%;
    height: 42px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    background-color: #b1a16e;
    color: white;
}
#city_div input::placeholder{
    color: white;
    font-size: 13px;
}
#city_div button{
    width: 28.5%;
    height: 42px;
    border: none;
    background-color: white;
    color: #b1a16e;
    font-size: 13px;
}